@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgb(255,255,255);
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(255,230, 0), 40%, rgba(0,0,0,0.0));
}
.tituloform{
    margin-bottom: 50px;
    font-weight: bold;
    color: #fff;
}
form.principal{
     width: 100%;
     height: auto;
 }
button.btn.calc{
    width: auto;
}

